<div class="top-bar <%= 'signed_in' if user_signed_in? %>">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class="main-logo"><h1 class="ifm-paris"><%= link_to 'IFM-lab', admin_bookings_path %></h1></div>
      <div class="student-nav">
        <h5><%= link_to 'Machines', admin_machines_path %></h5>
        <h5><%= link_to 'Bookings', admin_bookings_path %></h5>
      </div>
    <% else %>
      <div class="main-logo"><h1 class="ifm-paris"><%= link_to 'IFM-lab', root_path %></h1></div>
      <div class="student-nav">
        <h5><%= link_to 'Machines', machines_path %></h5>
        <h5><%= link_to 'Bookings', bookings_path %></h5>
      </div>
    <% end %>
    <div class="nav-element">
      <h6 class="edit-account"><%= link_to 'my account', edit_user_registration_path %> </h6>
      <h6><%= link_to 'sign out', destroy_user_session_path, method: :delete %></h6>
    </div>
  <% else %>
    <div class="main-logo"><h1 class="ifm-paris"><%= link_to 'IFM-lab', root_path %></h1></div>
  <% end %>
</div>
