<div class="main-page-name">
  <h1 class="ifm-paris">Create a new machine</h1>
</div>

<div class="main-page-content machine-forms">
  <%= simple_form_for @machine, url: admin_machines_path do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :visible, as: :radio_buttons, label: 'Visibility', collection: [['online', true],['offline', false]] %>
    <%= f.submit 'add', class: 'add-edit-btn'  %>
  <% end %>
</div>
