<!DOCTYPE html>
<html>
  <head>
    <title>IFM-lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="whole-body">
      <%= render 'shared/navbar' %>
      <%= render 'shared/topbar' %>
      <div class="middle-body">
        <%= yield %>
      </div>
      <%= render 'shared/flashes' %>
    </div>
  </body>
</html>
